html {
    font-family: "Poppins";
    font-weight: 400;
    color: rgb(76, 148, 167);
    font-size: 12px;
}


.header {
    background-image: url(resources/images/Header.png);
    background-size: cover;
    height: 600px;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}

h1 {
    font-size: 6.2rem;
    left: -2rem;
    padding: 14rem 0 3.7rem 0;
    text-align: center;
    max-width: 100rem;
}

.container {
    display: inline-flex;
}

.container2 {
    text-align: center;
}

.intro {
    font-size: 2.5rem;
    text-align: center;
}

.blurb {
    font-size: 3rem;
    text-align: center;
}

.blurb p {
    margin: 0 17% 0 17%;
    line-height: 7rem;
    background-color: rgba(252, 235, 138, 0.151);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 20px;
    text-align: center;
}

.pins {
    background-image: url(resources/images/Landmark.png);
    background-size: cover;
    justify-content: center;
}

button {
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    background-color: rgb(99, 186, 207);
    color: white;
    padding: 1rem;
    outline: none;
}

footer {
    text-align: center;
}


#nameinput {
    border-radius: 15px;
    border-color: rgb(80, 174, 197);
    border-width: 0.3rem;
    padding: 2rem 5rem;
    margin: 1rem;
    text-decoration: none;
    outline: none;
    text-align: center;
}

#ok {
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    background-color: rgb(99, 186, 207);
    color: white;
    padding: 1rem;
    outline: none;
    text-align: center;
}

#quizbutton {
    text-decoration: none;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    background-color: rgb(99, 186, 207);
    color: white;
    padding: 1rem 4rem;
    outline: none;
}

@media only screen and (max-width: 1400px) {
    .header {
        height: 400px;
    }

    h1 {
        font-size: 4.2rem;
        padding: 10rem 0 0.6rem 0;
    }

    .intro {
        font-size: 1.7rem;
    }

    .blurb {
        font-size: 20px;
    }

    #name {
        padding: 1rem 3rem;
    }

    .pins {
        background-image: url(resources/images/LandmarkLaptop.png);
    }
}


.inline {
    display:inline-block;
}

#greeting {
    display:inline-flex;
    line-height: 3rem;
    text-align: center;
}

img {
    width:30%;
    height:30%;
    justify-content: flex-start;
    padding: 7% 0;
}

.text {
    width: 100%;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }