html {
    font-family: "Poppins";
    font-weight: 400;
    color: rgb(76, 148, 167);
    font-size: 12px;
}


.header {
    background-image: url(resources/images/Header.png);
    background-size: cover;
    height: 600px;
    justify-content: center;
    font-size: 2rem;
}

h1 {
    font-size: 6.2rem;
    left: -2rem;
    padding: 14rem 0 3.7rem 0;
}

.container {
    text-align: center;
    
}

.intro {
    font-size: 2.5rem;
}

.blurb {
    font-size: 3rem;
}

.blurb p {
    margin: 0 17% 0 17%;
    line-height: 7rem;
    background-color: rgba(252, 235, 138, 0.151);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 20px;
}

.pins {
    background-image: url(resources/images/Landmark.png);
    background-size: cover;
    justify-content: center;
}

body {
}

footer {
    text-align: center;
}


#name {
    border-radius: 15px;
    border-color: rgb(62, 136, 155);
    border-width: 0.3rem;
    padding: 2rem 5rem;
    margin: 1rem;
    text-decoration: none;
}

#ok {
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    background-color: rgb(84, 182, 182);
    color: white;
    padding: 1rem;
}

@media only screen and (max-width: 1400px) {
    .header {
        height: 400px;
    }

    h1 {
        font-size: 4.2rem;
        padding: 10rem 0 0.6rem 0;
    }

    .intro {
        font-size: 1.7rem;
    }

    .blurb {
        font-size: 20px;
    }

    #name {
        padding: 1rem 3rem;
    }

    .pins {
        background-image: url(resources/images/LandmarkLaptop.png);
    }
}